body {
  background: url(../static/img/cityscape.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.board {
    width: 200px;
    height: 100px;
    size: auto;
    border: 1px solid black;
    border-radius: 10px;
    /*background-color: #1BBC9B;
    opacity: 0.9;*/
    background-color: rgba(0,0,0,0.5);
    /*background-color: #6ed3cf;*/
    text-align: center;
    font-family: Verdana, Arial, Sans-Serif;
    display: inline-block;
    padding-top: 10px;

    /*background-image: url("https://scontent-mrs1-1.xx.fbcdn.net/v/t1.0-9/14520495_1856192424611650_210446735915454290_n.jpg?oh=54b5416fb052bf9c66e4c2f4b278a2a0&oe=58722FF6");*/
    /*background-repeat: repeat-y;*/
    /*background-size: 120%;*/
    /*background-color: blanchedalmond;*/
}

.background{
    margin: 10px;
    margin-top: 60px;
}

.navbar-brand {
    font-size: 20px;
    color: black;
}


.title {
    margin-top: 20px;
    /*display: block;*/
    margin-left: 8px;
    font-family: Verdana, Arial, Sans-Serif;
}

input.button {
    margin: 10px;
    margin-top: 10px;
}

input.button_cancel {
    margin: 10px;
    margin-top: 10px;
}

input.button_create_board {
    width: 120px;
    margin-top: 20px;
    margin-left: 8px;
    word-wrap: break-word;
    white-space: normal;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
}

.button_create {
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    background: #6ed3cf;
}

.alert {
    margin-top: -70px;
    align-self: center;
}
